.elipse{
  position: absolute;
  bottom: 2px;
  left: 7px;
}

.layout__arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.vector-icon path {
  fill: currentColor;
  transition: fill 0.3s ease;
}
