/* General */
.navbar {
  height: calc(70px - 25px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.94);
  backdrop-filter: blur(8px);
  padding: 1rem;
}

.navbar__list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar__item {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar__link {
  text-decoration: none;
  color: hsla(95, 30%, 50%, 1);
  font-weight: 400;
  text-decoration: none;
  opacity: 0.7;
}

.navbar__link:focus-visible {
  outline: 2px solid black; 
  border-radius: 2px; 
  outline-offset: 3px;
}

.navbar__link--active {
  color: hsla(95, 30%, 50%, 1);
  font-weight: 700;
  text-decoration: underline;
}

.navbar__link:hover {
  opacity: 1;
}

.navbar__shop-icon {
  display: block;
  position: absolute;
  left: calc(100% - 100px);
  cursor: pointer;
}

.navbar__shop-icon:focus-visible {
  outline: 2px solid hsla(95, 30%, 50%, 1); 
  border-radius: 2px; 
  outline-offset: 2px;
}

/* Icono de menú */
.navbar__menu-icon {
  display: none;
}

/* Media Queries */
@media (max-width: 375px) {
  .navbar {
    height: calc(50px - 25px);
    justify-content: space-between;
  }
  
  .navbar__menu-icon {
    display: flex; 
    cursor: pointer;
  }

  .navbar__shop-icon {
    position: absolute;
    left: calc(100% - 35px);
    cursor: pointer;
  }

  .navbar__list {
    display: none; 
  }
}
